<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:modsi-project.database.windows.net,1433;Initial Catalog=modsi-project;Persist Security Info=False;User ID=MODSIPROJECT;Password=#modsi2025;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="3DPoints_DBName" value="Pontos3D"/>
  </appSettings>
</configuration>